.editor {
   
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}


.inner {
    position: absolute;
      z-index: 199;

}

span.widget.stack-message {
      display: inline-block;
      margin: -1px 6px;
      background: red;
      border-radius: 1px;
      pointer-events: auto;
    }

.ace_gutter-cell.ace_breakpoint{ 
   background :red;
}
.sucess {
     background :green;
     background-repeat: no-repeat;
}