 
 
 
 .overlay{
        position:absolute;
        z-index: 100;       
    }

.my-tool-tip i.my-tool-tip:hover, i.my-tool-tip:visited {

    color: black;
}

span.widget.stack-message {
      display: inline-block;
      margin: -1px 6px;
      background: red;
      border-radius: 1px;
      pointer-events: auto;
    }